
.background{
background: rgb(0,0,0);
background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
z-index: -1;
}

p, .card-action{
    text-align: center;
}

.container{
margin-left: 325px;

}
h1{
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
}

.card-image{
    height: 230px;
}

.card-action{
    align-content: bottom;
}

.material-icons{
    font-size: 15px;
}
.card-title{
    font-size: 20px;
}

.card{
    z-index: 2;
    opacity: .5;
    position: fixed;
    margin-top: 100px;
    margin-left: 30px;
    
}

/* clean up css */