
.background{
background: rgb(0,0,0);
background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
/* z-index: -1; */
}

p, .card-action{
    text-align: center;
}

.card-reveal{
    opacity: .5;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
}

.card-image{
    height: 300px;
    width: 100%;
}

.card-action{
    align-content: bottom;
}

.material-icons{
    font-size: 15px;
}
.card-title{
    font-size: 20px;
}

.card{
width: 300px;
height: 400px;
align-self: center;
    
}


.parallax-container{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
}

.row-container{
    height: 300px;
    width: 100%

}
 h2{
    text-align: center;
 }

/* clean up css */--------------------