/* viewall pg css */
.background{
    background: rgb(0,0,0);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
    }
    
    p, .card-action{
        text-align: center;
    }
    
    .card-reveal{
        opacity: .5;
    }
    
    h1{
        text-shadow: 2px 2px 2px #000;
        animation-duration: 1.5s;
        animation-name: drift;
        position: relative;
        color: white;
        text-align: center;
        font-family: 'Lora', serif;
    }
    
    .card-image{
        height: 300px;
        width: 100%;
    }
    
    .card-action{
        align-content: bottom;
    }
    
    .material-icons{
        font-size: 15px;
    }
    .card-title{
        font-size: 20px;
    }
    
    .card{
    width: 220px;
    height: 400px;
    align-self: center;
        
    }
    .row{
        width: 100% !important;
    }
    
    .parallax-container{
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
    }
    
    .row-container{
        height: 300px;
        width: 100% !important;
    
    }
    .container{
        width: 100% !important;
    }
     h2{
        text-align: center;
     }
    
    
    /* navbar css */
    nav {
        animation-duration: 2.5s;
        animation-name: drift;
        background-color: transparent !important;
    }
    
    #title{
        margin: 1px;
        text-shadow: 2px 2px 2px #000;
    }
    
    #login-btn{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
    }
    
    #greeting{
        text-shadow: 2px 2px 2px #000;
        animation-duration: 1.5s;
        animation-name: drift;
        position: relative;
    }
    
    #greeting-extra{
        text-shadow: 2px 2px 2px #000;
        animation-duration: 5s;
        animation-name: drift;
        margin-top: 230px;
    }
    
    .row{
        background-color: transparent !important;
    }
    .carousel{
       position:relative;
       bottom: 70px; 
    }
    @media screen and (max-width: 980px){
        #greeting{
            font-size: 30px;
        }
        #title{
            font-size: 50px;
    }
    }
    @media screen and (max-width: 768px){
        #greeting{
            font-size: 25px;
        }
        #title{
            font-size: 40px;
    }
    }
    @media screen and (max-width: 480px){
        #greeting{
            font-size: 20px;
        }
        
    }
    @keyframes drift {
        from{
            top: -200px;
            opacity: 0;
        }
        to{
            top: 0;
            opacity: 1;
        }
    }
    
    