body{
    background: rgb(0,0,0);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 44%, rgba(255,255,255,1) 100%);
}

.container{
    width: 50%;
    margin-top: 20px;
}

input{
    align-content: center;
}

.button{
    margin-left: 100px !important;
}

nav {
    animation-duration: 2.5s;
    animation-name: drift;
    background-color: transparent !important;
}

.gif{
    margin-left: 30px;
}

#login-btn{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

a{
    text-shadow: 2px 2px 2px #000;
    animation-duration: 1.5s;
    animation-name: drift;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 55px
}

p{
    text-shadow: 2px 2px 2px #000;
    animation-duration: 1.5s;
    animation-name: drift;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 80px
}

h3{
    text-shadow: 2px 2px 2px #000;
    animation-duration: 1.5s;
    animation-name: drift;
    position: relative;
    color: white;
    font-family: 'Lora', serif; 
    text-align: center;
}

.col.s4{
    text-align: center;
    }

    

@keyframes drift {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}